li{
    list-style: none;
    font-weight: 500;
}
.home_li{
   color:#34547A;
}
ul{
    display: flex;
    gap: 50px;
    padding-top: 76px;
    padding-left: 0%;
    margin: 0%;
}
a{
  text-decoration: none;
  color: black;
}
h1{
        font-size: 48px;
        padding-top: 140px;
}
footer{
    background-color: #34547A; 
    display: flex;
    align-items: center;
    height: 101px;
    flex-direction: column;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif ;
}
.footer_p1{
    color: #FFFFFF;
    
}
.footer_p2{
    color: #FFFFFF;

}
.paragraph{
    width: 540px;
    height: 67px;
    font-size: 16px;
    padding-bottom: 50px;
    color: #727272;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: #eeeff1;
  padding: 0px 10% 10% 27%;
}
button{
    height: 65px;
    width: 225px;
    background-color: #34547A;
    color: #FFFFFF;
    
}
.about{
    display: flex;
    flex-direction: column;
    padding: 5%;
    
}
h2{
     margin: 0px auto;
     font-size: 32px;
}
.paragraph_2{
    width: 540px;
    margin: 0px auto;
    color: #727272;
}
.stats {
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: #34547A;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.stats p {
    float: right;
    margin-left: 8px;
    font-size: 18px;
    width: 50px;
}
img{
    width: 50px;
    height: 50px;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeff1;
    margin: 0;
    padding: 40px;
  }
  .video h2 {
    font-weight: 500;
    font-size: 30px;
  }
  
  .video_img {
    position: relative;
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
  }
  .video_img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .stat-item{
    display: flex;
  }
  
  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play_button img {
    width: 60%;
    height: auto;
  }
  
  @media (max-width: 480px) {

    ul{
      margin-top: 5px ;
      flex-direction: column;
      align-items: center;
    }
    .paragraph, .paragraph_2{
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    }
    
    
  }
  @media (max-width: 768px) {

    .container{
      padding: 0% 5% 5% 15%;
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 10%;
      gap: 10px;
      place-items: center;
      padding: 20px 0px 0px 20px;     
      
    }
    .stats p {
      float: left;
      padding-left: 5px;
      font-size: 18px;
      width: 5%;
    }
      .img{
        width: 20%;
        
      }

  }